body{
    background-color: #444444;
}
img { 
    display: block; 
    margin: 0 auto; 
}
#display-name{
    text-align: center;
    color: #fffdfd;
}
#nav-about{

    color: #ffffff;
    text-decoration: none;
}
#nav-resume{
    color: #037D03;
    
}
#navigation{
    text-align: center;
}
#display-about{
    color:#ffffff;
    text-align: center;
}
p {
    color: #ffffff;
    text-align: center;
    padding-bottom: 10px;
    line-height: 30px;
}
.footer-links {
    color: #216321;
    font-weight: bold;
}
